---
---

<div>
  <p>
    Los problemas en el software son muy comunes, tenemos muchas páginas web que 
    nos ayudan a resolverlos, pero no siempre encontramos la solución tan facilmente.
  </p>
  <br>
  <p>
    Este blog esta enfocado en mostrar las soluciones a problemas que me han costado una gran
    cantidad de tiempo en poder resolverlos, espero que te sean de utilidad.
  </p>
</div>
