---
---

<section class="mb-8">
  <div class="mb-4">
    <h1
      class="font-extrabold text-5xl md:text-6xl tracking-tight pt-4 pb-2 overflow-hidden"
    >
      <span
        class="bg-gradient-to-br from-[#fb923c] via-[#f97316] to-[#ea580c] dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text text-transparent"
      >
       Solucionando con Talavera 
      </span>
    </h1>
    <p class="text-2xl pb-4">Encuentra formas de arreglar los problemas cotidianos de IT<p>
  </div>
  <div>
    <p class="mb-5">
      Los errores son muy comunes en la tecnología, muchas veces basta con una simple búsqueda en Google para encontrar la solución.
      En este blog encontrarás soluciones a problemas que me he encontrado en mi día a día como desarrollador.

      Mi enfoque estará en ser lo más  <strong>conciso </strong> posible, sin embargo, si necesitas más información siempre puedes contactarme.

    </p>
    <p class="text-center whitespace-nowrap overflow-auto">
      <code class="py-1 px-2">npx create-blogster@latest --theme sleek</code>
    </p>
  </div>
</section>
